@model MangaCollection.Models.Manga
    <!--This is WAY better than using ViewBag-->
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}

<h1>@Model.SeriesTitle</h1>
<h2>Issue #@Model.IssueNumber</h2>

<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if (Model.Contributers.Length > 0)
{
    <h5>Contributers</h5>
    <div>
        <ul>
            @foreach (var contributer in Model.Contributers)
        {
                <li>@contributer.Role: @contributer.Name</li>
            }
        </ul>
    </div>
}