@{
    Layout = null;

    var seriesTitle = "Drifters";
    var issueNumber = 1;
    var description = "<p>Debut issue of an incredible tale of heroism! The story of Drifters takes place during Japan's Sengoku period (roughly XV to XVII century), a time of constant warring between the island's states, and a natural setting of choice for samurai stories. Young samurai on verge of death suddenly finds himself into another, fantastic world. How? Why? These questions remain unanswered...</p>";
    var contributers = new string[]
    {
        "Written: Kouta Hirano",
        "Illustrated:Kouta Hirano",
        "Published: Shonen Gahosha",
        "Translated: Dark Horse Comics"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Issue #@issueNumber</h2>

        <h5>Description:</h5>
        <div>@Html.Raw(description)</div>

        <h5>Contributers</h5>
        <div>@Html.Raw(contributers)</div>
    </div>
</body>
</html>
